#gallery {
    background-color: #FEF9E7;
    padding-top: 20px;
    padding-bottom: 20px;
    }
    .callout-container {
    height: 80vh;
    background: url('../images/lecycledeleau.jpg') no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;